
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}



.calendrier-component{
  .calendrier-tableau{
    ul{
      padding: 20px;
      margin:0;
      list-style-type: none;
      li{
        float: left;
        width: calc(100% / 7);
        //text-align: center;
        padding: 10px;
        text-align: center;
        &.courrant{
          background-color: blueviolet;
          color: white;
        }
      }
    }
  }
}